<head>
    <title>Enter your details</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"> 
</head>
<body style="background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);">
    <div class="ui inverted top fixed menu">
        <div class="item ui small header">Arjun Khanduri</div>
        <div class="right menu">
            <div class="ui item medium header"><a href="/">Register for Event</a></div>
            <div class="item active ui medium header"><a href="/login">Administrator Login</a></div>
        </div>
    </div>
    <div style="padding-top:12%"></div>
    <div class="ui raised very padded text container segment">
        <p style="text-align: center" class="ui huge header">Login with Administrator Credentials</p>
        <form class="ui form" method="post" action="/login">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button style="margin-left:42.5%"class="ui primary button" type="submit">Submit</button>
        </form>
    </div>