<head>
    <title>Enter your details</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"> 
</head>
<body>
    <div class="ui secondary pointing menu">
        <a class="item" href="/">Register for Event</a>
        <a class="right menu item active" href="/login">Administrator Login</a>
    </div>
    <div style="padding-top:9%">
        <div class="ui raised very padded text container segment">
            <p style="text-align: center" class="ui huge header">Login</p>
            <form class="ui form">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="first-name" placeholder="Username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="last-name" placeholder="Password">
                </div>
                <button style="margin-left:42.5%"class="ui primary button" type="submit">Submit</button>
            </form>
        </div>
    </div>