<head>
    <title>Confirmation</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" type="text/css">
</head>
<body>
    <div>
        <h2 style="text-align:center;">Please confirm your details before submitting</h2>
        <div class="ui raised very padded text container segment">
            <div class="ui form" action="/" method="post">
                <div class="field"><label>First Name</label><input type='text' disabled></div>
                <div class="field"><label>Last Name</label><input type='text' disabled></div>
                <div class="field"><label>E-mail</label><input type='text' disabled></div>
                <div class="field"><label>Mobile Number</label><input type='text' disabled></div>
                <div><input type="submit"></div>
            </div>
        </div>
    </div>
</body>