<head>
    <title>Enter your details</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"> 
</head>
<body style="background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);">
    <div class="ui inverted top fixed menu">
        <div class="item ui small header">Arjun Khanduri</div>
        <div class="right menu">
            <div class="ui item medium header active"><a href="/">Register for Event</a></div>
            <div class="item ui medium header"><a href="/login">Administrator Login</a></div>
        </div>
    </div>
    <div style="margin-top: 5%;" class="ui text container">
        <div class="ui raised very padded text container segment">
            <h1 style="text-align:center" class="ui huge header">Registration</h1>
            <form class="ui form" action="/" enctype="multipart/form-data" method="post">
                <h4 class="ui dividing header">Personal details</h4>
                <div class="field">
                    <label>Name</label>
                    <div class="two fields">
                        <div class="field"><input type="text" name="detail[fname]" placeholder="First Name"></div>
                        <div class="field"><input type="text" name="detail[lname]" placeholder="Last Name"></div>
                    </div>
                </div>
                <div class="field">
                    <label>E-mail</label>
                    <div class="field"><input type="email" name="detail[email]" placeholder="E-mail"></div>
                </div>
                <div class="field">
                    <label>Mobile Number</label>
                    <div class="field"><input type="tel" name="detail[num]" maxlength="10" placeholder="Mobile Number"></div>
                </div>
                <h4 class="ui dividing header">Registration details</h4>
                <div class="field">
                    <label>Registration type</label>
                    <select id="type" name="detail[type]" class="ui fluid dropdown">
                        <option value="Self">Self</option>
                        <option value="Group">Group</option>
                        <option value="Corporate">Corporate</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="field">
                    <label>No. of Tickets</label>
                    <input id="count" name="detail[ticketn]" type="number" value="1">
                </div>
                <h4 class="ui dividing header">Upload ID Card <i class="cloud upload icon"></i></h4>
                <label>Please upload an image of your ID Card</label>
                <div class="field">
                    <input type="file" name="detail[img]" accept="image/jpeg, image/png">
                </div>
                <div><input class="ui button primary" type="submit"></div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        var type=document.getElementById('type');
        var count=document.getElementById('count');
        type.addEventListener('click',()=>{
            if(type.value=='Self')
                count.value=1;
        });
    </script>
</body>