<head>
    <title>Success</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" type="text/css">
</head>
<body style="background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);">
    <div class="ui inverted top fixed menu">
        <div class="item ui small header">Mode<i class="ellipsis vertical icon"></i></div>
        <div class="right menu">
            <a class="ui item medium header" href="/">Register for Event</a>
            <a class="item ui medium header" href="/login">Administrator Login</a>
        </div>
    </div>
    <div class="ui text container">
        <div style="padding-top:23%">
            <div class="ui raised very padded text container segment">
                <h1 style="text-align: center;">Congratulations <%=detail.fname%> <%=detail.lname%>!</h1>
                <h3 style="text-align: center;">You have been successfully registered</h3>
                <h3 style="text-align: center;">Registration ID: <%=detail._id%></h3>
                <h3 style="text-align: center;">Date of Registration: <%=detail.created.toDateString()%></h3>
            </div>
        </div>
    </div>
</body>